<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Vinh's Store</title>
    <link rel='stylesheet' href='style/layout.css' />
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&family=Poppins:wght@300;700&display=swap'
      rel='stylesheet'
    />
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&family=Poppins:wght@300;700&display=swap'
      rel='stylesheet'
    />
  </head>
  <body>
    <header>
      <h1><a href='/'>Vinh's Store</a></h1>
      <form class='search-form' action='/search' method='post'>
        <input
          type='text'
          placeholder='What are you looking to rent?'
          name='keyword'
        />
        <button type='submit'>Find</button>
      </form>
    </header>
    {{{body}}}
    <footer>
      <p>Created by Vinh Nhan &#169; 2023</p>
    </footer>
  </body>
</html>